
/*此部分由2017302580059 蒋加尧完成*/

.div1_2_6A{
    display: none;
    height: 70vh;
    width: 50vw;
    position: fixed;
    top: 30vh;
    left: 25vw;
    background-color: silver;
    -webkit-animation:bottomtotop 1s;
    text-align: center;
}
.div1_2_6B{
    display: none;
    height: 70vh;
    width: 50vw;
    position: fixed;
    top: 100vh;
    left: 25vw;
    background-color: silver;
    -webkit-animation:toptobottom 1s;
}
#img1_2_6_1{
    cursor: pointer;
    -webkit-animation:myfirst 1.6s infinite;    
    position: fixed;
    top:30vh;
    left: 48.5vw;
    width: 3%;
    height: 3%;
}
#btn1_2_6_1{
    cursor: pointer;
    background-color: rgb(16,98,84);
    color: white;
    position: fixed;
    top: 30vh;
    left: 65vw;
    width: 8vw;
    height: 5vh;
    padding-left: 2vw;
    padding-top:1vh; 
    text-align: center;
}
#div1_2_6_1{
    display: block;
    height: 60vh;
    width: 50vw;
    /* position: fixed; */
    margin-top: 5vh;
    top: 38vh;
    left: 25vw;
    
    background-color: rgb(253, 252, 249);
}
#div1_2_6_2{
    display: none;
    height: 60vh;
    width: 50vw;
    /* position: fixed; */
    margin-top: 10vh;
    top: 38vh;
    left: 25vw;
    background-color: rgb(253, 252, 249);
}
@-webkit-keyframes myfirst
{ 
0% {top:25.2vh;}

50% {top:26.2vh;}

100%{
    top:25.2vh;}
    /* 0% {margin-top:2.2vh;}
    
    50% {margin-top:3.2vh;}
    
    100%{margin-top:2.2vh;}  */
}
@-webkit-keyframes bottomtotop
{ 
0% {top:100vh;}

100%{top:30vh;}
}
@-webkit-keyframes toptobottom
{ 
0% {top:40vh;}

100%{top:100vh;}
}

.contacts_items{
    box-shadow: 3px 3px 8px rgba(8, 10, 14, 0.31);
    border: 1px solid aliceblue;
    width:50vw;
    height: 7vh;
    text-align: center;
    background-color: white;
    position: relative;
    float: left;
    margin-left: 0%;
    margin-top: 3%;
    padding: 15px;
    outline:none;
    overflow: hidden;  /*溢出隐藏*/
    text-overflow: ellipsis; /*以省略号...显示*/
    white-space: nowrap;  /*强制不换行*/
}
.contactsdelete_items{
    box-shadow: 3px 3px 8px rgba(8, 10, 14, 0.31);
    border: 1px solid aliceblue;
    width:50vw;
    height: 7vh;
    text-align: center;
    background-color: rgb(206, 206, 206);
    position: relative;
    float: left;
    margin-left: 0%;
    margin-top: 3%;
    outline:none;
    padding: 15px;
    overflow: hidden;  /*溢出隐藏*/
    text-overflow: ellipsis; /*以省略号...显示*/
    white-space: nowrap;  /*强制不换行*/
}

.contacts_items:hover{
    background-color: rgb(249, 252, 240);
}
.contactsdelete_items:hover{
    background-color: gray;
    background-size: 250px;
}
