/*此部分由2017302580058 章昊完成*/

#div1_2_5{
      display: none;
}

.title1_2_5{
    position: fixed;
    background-color: rgb(16,98,84);
    width: 20vw;
    height: 6vh;
    box-shadow: 3px 3px 2px #888888;
}

.font1_2_5{
    font-size: 2.5vmin;    
    color: white;
}

#conName{
    top: 30vh;
    left: 21vw;  
}

#conSimpleInfo{
    top: 50vh;
    left: 21vw;
}

#conDate{
    top: 70vh;
    left: 21vw;
}
#conAddress{
    top: 35vh;
    right: 21vw;
}

#conPeople{
    top: 55vh;
    right: 21vw;
}

#conState{
    top:75vh;
    right: 21vw;
}
#font1_2_5_1{
    margin-left: 4vw;
}
#font1_2_5_2{
    margin-left: 4vw;
}
#font1_2_5_3{
    margin-left: 4vw;
}
#font1_2_5_4{
    margin-left: 10vw;
}
#font1_2_5_5{
    margin-left: 10vw;
}
#font1_2_5_6{
    margin-left: 10vw;
}
#font1_2_5_7{
    position: fixed;
    top: 63vh;
    left:60vw;
}
#font1_2_5_8{
    
    position: fixed;
    top: 67.5vh;
    left:60vw;
}
#div5{
    width: 0;
    height: 0;
    border: 50px solid gray;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
}
.text{
    position: fixed;
    background-color: rgb(244,244,244);
    color: black;
    word-wrap: break-word;
    overflow:auto;
}
#textConName{
    width: 20vw;
    height: 10vh;
    left: 25vw;
    top: 37vh;
}
#textConSimpleInfo{

    width: 20vw;
    height: 10vh;
    left: 25vw;
    top: 57vh;

}
#textConDate{
    width: 20vw;
    height: 10vh;
    left: 25vw;
    top: 77vh;
}
#textConAddress{
    width: 20vw;
    height: 10vh;
    left: 63vw;
    top: 42vh;
}
#textConPeople1{

    width: 12vw;
    height: 10vh;
    left: 65vw;
    top: 67vh;
}
#textConPeople2{

    width: 14vw;
    height: 3vh;
    left: 65vw;
    top: 63vh;
}
#textConState{
    width: 8vw;
    height: 5vh;
    left: 63vw;
    top: 82vh;
}

#buttonChangeInfo{
    position: fixed;
    top:90vh;
    left: 25vw;
    width: 10vw;
    height: 7vh;
}
#buttonChangePeople{
    position: fixed;
    top:90vh;
    left: 34vw;
    width: 10vw;
    height: 7vh;
}
#buttonUpFile{
    position: fixed;
    top:90vh;
    left: 43vw;
    width: 10vw;
    height: 7vh;
}
.fileshow{
    color:white;
    font-size: small;
}