/* 2017302580270 王泽煜 */
#conname{
	background-color:#FFFFFF;
	color: black;
	font-family: "youyuan";
	text-align: center;
	width: 100%;
	display: inline-block;
	font-size: 30px;
	border-radius: 20px;
	margin: 1;
}
#condate{
	background-color:#FFFFFF;
	color: black;
	font-family: "youyuan";
	width: 80%;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	border-radius: 20px;
	margin: 1;
}
#conadress{
	background-color:#FFFFFF;
	color: black;
	font-family: "youyuan";
	width: 80%;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	border-radius: 20px;
	margin: 1;
}
#coninfo{
	background-color:#FFFFFF;
	color: black;
	font-family: "youyuan";
	width: 80%;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	border-radius: 20px;
	margin: 1;
}
#convip{
	background-color:#FFFFFF;
	color: black;
	font-family: "youyuan";
	width: 80%;
	left: 10%;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	border-radius: 20px;
	margin: 1;
}
#state{
	background-color:#FFFFFF;
	color: black;
	font-family: "youyuan";
	text-align: center;
	width: 80%;
	display: inline-block;
	font-size: 20px;
	border-radius: 20px;
	margin: 1;
}


